*
!/.gitignore
!evaluation/eval_gsm8k.py
!data/data_gsm8k.py
!inference/infer_basic.py
!utils/process_logger.py
!configs/
!configs/**
configs/prefix_sft.yaml
configs/infer_bon.yaml
!sft/train_lora_sft.py
!sft/train_full_sft.py
!sft/train_prompt_sft.py
!rl/train_grpo.py
!run_experiments.py
!requirements.txt
!README.md
!run_all.sh
!utils/reward_math.py
!results_plot.png
!dataset/README.md
!data/__init__.py
!sft/__init__.py
!rl/__init__.py
!inference/__init__.py
!evaluation/__init__.py
!utils/__init__.py

